@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

#image-holder {
	height: 60%;
	width: 40%;
	display: block;
  	margin: auto;
  	border: #838383 solid 50px;
  	border-radius: 40px;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

body{
	text-align: center;
	flex-flow: column;
	display: flex;
	justify-content: center;
	font-family: 'Lato', regular;
}

.header {
	color: #4A4A4A;
	font-family: 'Raleway', sans-serif;
	margin: 10px;
}

.logo{
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Ubuntu', medium;
	font-size: 30px;
	color: #838383;
}

.content{
	font-size: 200%;
	font-family: arial;
	color: #A9A9A9;

}

.voting {
	display: flex;
	flex-wrap: row;

}

#yes {
	height:75px;
	width: 75px;
	background-color: #99FF99;
	border-radius: 40px;
}

#no {
	height: 75px;
	width: 75px;
	color: #FFF;
	background-color: #E77979;
	border-radius:40px;
	font-size: 45px;
	font-weight: bold;
}

button{
	height: 40px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	border: black;
	border-radius: 10px;
/*	margin-top: 50%;
	margin-left: 10%;
	margin-right: 10%;*/
/*	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
*/}

#but-a {
	border: black;
	border-radius: 200px;
}

#compare{
	height: 30px;
	width: 35%;
	font-size: 15px;
	border-bottom: 7px solid #99FF99;
	padding-top: 50px;
	color: #838383;
}

#index{
	height: 30px;
	width: 35%;
	font-size: 15px;
	border-bottom: 7px solid #99FF99;
	padding-top: 50px;
	color: #838383;
}

.data {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

ul {
	list-style: none;
}

/*For links on page*/
a:link {
    text-decoration: none;
    color: #838383;
}

a:visited {
    text-decoration: none;
    color: #838383;
}

a:hover {
    text-decoration: none;
    color: #838383;
}

a:active {
  	text-decoration: none;
    color: #838383;
}


.bar {
	width: 100%;
	height: 400px;
	background-color: #838383;


img {
	height: 60%;
	width: 40%;
	position: absolute;
  	transition: opacity .5s ease-in;
}

img + img { opacity: 0; }
